<section class="hero is-fullheight has-text-centered has-background-white-ter" id="ausbildung">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p style="text-align:center">

                        <b>
                        Studium Konzertfach klassischer Gesang bei MMMMag. Alexander Mayr  
                        </b>
                        <br>
                        Diplomabschluss, Joseph Haydn Konservatorium in Eisenstadt - Juni 2018
                        <br>
                        <br>

                        <b>
                        Studium Gesangspädagogik klassischer Gesang bei MMMMag. Alexander Mayr  
                        </b>
                        <br>
                        Abschluss Bachelor of Arts, MDW - Mai 2018                   
                        <br>
                        <br>

                        <b>
                        Vertiefende Meisterkurse
                        </b>
                        <br>
                        Claudia Visca, Marlis Petersen, Angelika Kirchschlager und Bernarda Fink
                        <br>
                        <br>
                        
                        <b>
                        Abgeschlossenes Lehramtsstudium für die Sekundarstufe II – Mathematik und Musikerziehung
                        </b>
                        <br>
                        Abschluss Bachelor of Education 
                        <br>
                        <br>
                        
                        <b>
                        Außeruniversitäres Studium der Kirchenmusik
                        </b>
                        <br>
                        Kirchenkonservatorium der Erzdiözese Wien
                    </p>
                </div>
            </div>
        </div>
</section>
