<section class="hero is-fullheight has-text-centered has-background-white-ter" id="konzerte">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p style="text-align:center">

                        <b>
                        Anstehende Konzerte
                        </b>
                        <br>
                        <br>

                        <b>
                        20.9.2025 - 19 Uhr - Liederabend mit Birgit Wolf
                        </b>
                        <br>
                        Volksschule Kirchberg am Wechsel 
                        <br>
                        <br>

                        <b>
                        4.10.2025 - 18 Uhr - Liederabend mit Birgit Wolf
                        </b>
                        <br>
                        Mariahaus, Ofenbachgraben 63, 2832 Thernberg
                        <br>
                        <br>

                        <b>
                        9.11.2025 - 10 Uhr - Missa puerorum von G. I. Hufschmid <br> mit Angela Mitterhofer (Sopran) und Anna Flasch (Alt) mit Streichquartett und Orgel 
                        <br> Weitere Stücke von W. A. Mozart, J. S. Bach ua. mit Getraut Hecher
                        </b>
                        <br>
                        Pfarrkirche Kirchberg am Wechsel
                        <br>
                        <br>

                        <b>
                        15.11.2025 - 17 Uhr - Altsolisting beim Kirchenkonzert Cantate Domino <br> unter der Leitung von Birgit Schmid
                        </b>
                        <br>
                        Pfarrkirche Wimpassing
                        <br>
                        <br>

                        <br>
                        <br>
                        <b>
                        Vergangene Konzerte
                        </b>
                        <br>
                        <br>

                        <b>
                        15.8.2025 - 10 Uhr - Krönungsmesse von W. A. Mozart <br> unter der Leitung von Martin Wadsack
                        </b>
                        <br>
                        Stift Altenburg
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
</section>
